@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial,tahoma,\5b8b\4f53;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
img{vertical-align:top;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
.l{float:left;}
.r{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.mt10{margin-top:10px!important;}
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.w990{width:990px;margin:0 auto;}
.w1190{width:1190px;margin:0 auto;}

.w40{width:40px;}
.w60{width:60px;}
.w90{width:90px;}
.w103{width:103px;}
.w110{width:110px;}
.w116{width:116px;}
.w154{width:154px;}
.w238{width:238px;}
.w248{width:248px;}
.w270{width:270px;}
.w282{width:282px;}
.w306{width:306px;}
.w318{width:318px;}
.w340{width:340px;}
.w350{width:350px;}
.w490{width:490px;}
.mt20{margin-top:20px!important;}
.mr20{margin-right:20px!important;}
.mb20{margin-bottom:20px!important;}
.ml20{margin-left:20px!important;}
.mt24{margin-top:24px!important;}
.mr26{margin-right:26px!important;}

/**头部**/
.s-header{width:100%;height:26px;background:#0270B1;border-bottom:1px solid #026BA9;}
.s-header .top-tools{position:relative;margin:0 auto;width:1190px;height:26px;line-height:26px;}
.s-header .top-tools .top-tip,
.s-header .top-tools .login-name{float:left;color:#FFF;}
.s-header .top-tools .login-btn{float:left;}
.s-header .top-tools .login-btn a{float:left;padding-left:10px;color:#FFF;}
.s-header .top-tools .login-btn a:hover{color:#F70;text-decoration:underline;}
.s-header .top-tools .tools{position:absolute;right:0;top:1px;}
.s-header .top-tools .tools li{position:relative;float:left;background:url("images/exeBg.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/exeBg.png*/ no-repeat -98px -1px;}
.s-header .top-tools .tools li img{position:absolute;top:0;right:-10px;}
.s-header .top-tools .tools .noline{margin-right:10px;background:none;}
.s-header .top-tools .tools .line2{padding-left:12px;margin-right:10px;}
.s-header .top-tools .tools .noNumber {padding-left: 5px;width: 60px;}
.s-header .top-tools .tools .hotline{padding-left:10px;}
.s-header .top-tools .tools li a b{position:absolute;background:url("images/exeBg.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/exeBg.png*/ no-repeat 0 0;right:10px;top:11px;width:6px;height:3px;}
.s-header .top-tools .tools li a{color:#FFF;}
.s-header .top-tools .tools li a:hover{color:#F70;}
.s-header .top-tools .tools li .menuHd:hover{color:#F70;}
.s-header .top-tools .tools li a.menuHd{position:relative;padding:0 22px 0 8px;color:#FFF;border:1px solid #0270B1;border-bottom:none;z-index:102;height:25px;line-height:24px;display:inline-block;}
.s-header .top-tools .tools li a.hover{background:#0270B1;border:1px solid #026BA9;border-bottom:none;}
.s-header .top-tools .tools li a.hover b{background:url("images/exeBg.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/exeBg.png*/ no-repeat -10px 0;}
.s-header .top-tools .tools li .mycar a.menuHd{padding:0 24px 0 10px;}
.s-header .top-tools .tools .hotline a{padding:0 6px 0 10px;}
.s-header .top-tools .tools .list{position:relative;z-index:2;}
.s-header .top-tools .tools .myhelplist{position:absolute;padding:0 0 10px 10px;width:75px;background:#0270B1;border:1px solid #026BA9;right:0;top:26px;z-index:101;display:none;}
.s-header .top-tools .tools .myhelplist a{display:block;height:20px;line-height:20px;padding-left:5px;}

.s-top{width:100%;height:85px;background:url("images/s-top.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/s-top.png*/ repeat-x 0 0;}
.s-top .w1190{height:85px;background:url("images/s-top1.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/s-top1.png*/ no-repeat 0 0;}
.s-top .logo{float:left;margin-top:32px;}
.s-top .nav{float:left;margin-top:26px;padding-left:110px;height:40px;overflow:hidden;}
.s-top .nav li{float:left;margin-right:20px;}
.s-top .nav li a{display:block;width:72px;height:40px;font:700 16px/34px 'Microsoft YaHei';color:#FFF;text-align:center;}
.s-top .nav li a:hover{text-decoration:underline;}
.s-top .nav .on a,
.s-top .nav .on a:hover{background:url("images/index-bg.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/index-bg.png*/ no-repeat 0 0;color:#0A5F90;text-decoration:none;}

/**面包屑**/
.path{height:32px;line-height:32px;overflow:hidden;}
.path a{float:left;color:#333;}
.path a:hover{color:#F70;text-decoration:underline;}
.path i{float:left;padding:0 5px;font-family:SimSun;color:#333;}
.path span{float:left;color:#666;}
/*pages*/
.snPages{float:right;padding-right:10px;font-size:0;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;display:inline;float:left;margin-right:4px;color:#333;font-size:12px;}
.snPages span{font-size:12px;}
.snPages div{line-height:24px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:24px;line-height:24px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.current:visited{_color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{display:inline-block;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages span.prev{}
.snPages span.next{}
.snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:10px;}
.snPages a.next b{right:1px;top:10px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:10px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{width:32px;height:24px;line-height:24px;margin:0 3px;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{cursor:pointer;width:45px;height:26px;line-height:26px;_line-height:20px;background:#fff;border-radius:4px 4px 4px 4px;}
.snPages a:hover{color:#f60;}
.changePage .snPages li{float:left;}
/**公告分页**/
.notice-pages{padding:0 5px 10px 0;height:26px;overflow:hidden;}
.notice-pages .pages{float:right;height:26px;}
.notice-pages a{float:left;margin-right:5px;padding:0 10px;background:#FFF;border:1px solid #CCC;line-height:24px;font-weight:700;color:#666;}
.notice-pages a:hover{color:#F70;text-decoration:none;}
.notice-pages span{float:left;margin-right:5px;line-height:26px;}
.notice-pages span.prev,
.notice-pages span.next{height:24px;line-height:24px;background:#FFF;border:1px solid #DDD;font-weight:400;}
.notice-pages a.prev,
.notice-pages a.next{height:24px;line-height:24px;background:#FFF;border:1px solid #CCC;overflow:hidden;}
.notice-pages span.prev em,
.notice-pages span.next em,
.notice-pages a.prev em,
.notice-pages a.next em{float:left;display:inline;margin-top:6px;width:0;height:0;line-height:0;font-size:0;border:6px solid;}
.notice-pages span.prev i,
.notice-pages span.next i{float:left;color:#999;}
.notice-pages a.prev i,
.notice-pages a.next i{float:left;color:#333;font-weight:400;*line-height:28px;cursor:pointer;}
.notice-pages a.prev:hover i,
.notice-pages a.next:hover i{color:#F70;}
.notice-pages span.prev{padding:0 10px 0 5px;}
.notice-pages span.next{padding:0 5px 0 10px;}
.notice-pages span.prev em{margin-right:6px;border-color:#FFF #CCC #FFF #FFF;}
.notice-pages a.prev em{margin-right:6px;border-color:#FFF #999 #FFF #FFF;}
.notice-pages span.next em{margin-left:6px;border-color:#FFF #FFF #FFF #CCC;}
.notice-pages a.next em{margin-left:6px;border-color:#FFF #FFF #FFF #999;}
.notice-pages a.prev:hover em{border-color:#FFF #F70 #FFF #FFF;}
.notice-pages a.next:hover em{border-color:#FFF #FFF #FFF #F70;}
/**sBtn**/
.sBtn,
.sBtn span{display:inline-block;background:url("images/all-btn.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/all-btn.png*/ no-repeat;text-align:center;overflow:hidden;}
.sBtn b{display:inline-block;background:url("images/all-btn.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/all-btn.png*/ no-repeat;text-align:center;overflow:hidden;}

.sBtn-h30-o{padding-left:20px;height:30px;background-position:left 0;}
.sBtn-h30-o span{padding-right:20px;height:30px;background-position:right 0;font-size:14px;line-height:30px;color:#FFF;cursor:pointer;}
.sBtn-h30-o:hover{background-position:left -30px;text-decoration:none;}
.sBtn-h30-o:hover span{background-position:right -30px;text-decoration:none;}

.sBtn-h30-w{padding-left:20px;height:30px;background-position:left -90px;}
.sBtn-h30-w span{padding-right:20px;height:30px;background-position:right -90px;font-size:14px;line-height:30px;color:#333;cursor:pointer;}
.sBtn-h30-w:hover{background-position:left -120px;text-decoration:none;}
.sBtn-h30-w:hover span{background-position:right -120px;color:#2271CB;text-decoration:none;}

.sBtn-h30-b{padding-left:20px;height:30px;background-position:left -150px;}
.sBtn-h30-b span{padding-right:20px;height:30px;background-position:right -150px;font-size:14px;line-height:30px;color:#FFF;cursor:pointer;}
.sBtn-h30-b b{padding-right:20px;height:30px;background-position:right -150px;font-size:14px;line-height:30px;color:#FFF;cursor:pointer;}
.sBtn-h30-b:hover{background-position:left -180px;text-decoration:none;}
.sBtn-h30-b:hover span{background-position:right -180px;text-decoration:none;}
.sBtn-h30-b:hover b{background-position:right -180px;text-decoration:none;}

.sBtn-h30-disable,
.sBtn-h30-disable:hover{background-position:left -60px;cursor:default;}
.sBtn-h30-disable span,
.sBtn-h30-disable:hover span{background-position:right -60px;color:#BBB;cursor:default;}
.sBtn-h30-disable b,
.sBtn-h30-disable:hover b{background-position:right -60px;color:#BBB;cursor:default;}

/* 弹出框 */
/*pop-box*/
.pop-box{position:absolute;padding:6px;z-index:1000;overflow:hidden;}
.pop-box .pop-box-bg{position:absolute;left:0;top:0;width:9999px;height:9999px;background:#000;opacity:.2;filter:alpha(opacity=20);z-index:10;}
.pop-box .pop-box-title{position:relative;padding-left:10px;height:32px;background:url("images/com-repeatX.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/com-repeatX.png*/ repeat-x 0 0;font-size:14px;font-weight:700;line-height:32px;color:#333;z-index:20;}
.pop-box .pop-box-title .close{position:absolute;top:9px;right:7px;display:block;width:16px;height:16px;background:url("images/com-icon.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/com-icon.png*/ no-repeat 0 0;overflow:hidden;}
.pop-box .pop-box-main{position:relative;background:#FFF;z-index:20;}

/* 输入框 */
.sopText{float:left;padding-right:10px;}
.sopText input{background:#FFF;border:1px solid #BFBFBF;font-family:Tahoma,\5b8b\4f53;}
.sopText .err{border-color:#F00;}
.sopText .focus{border-color:#37C;}
.sopText-h26{height:26px;}
.sopText-h26 input{padding:3px 5px;}
.sopText-h30{height:30px;}
.sopText-h30 input{padding:5px;}
.sopText-h32{height:32px;}
.sopText-h32 input{padding:6px 5px;}
.sopTxt{float:left;margin-right:10px;}
.sopTxt textarea{background:#FFF;border:1px solid #BFBFBF;resize:none;}
.sopTxt .err{border-color:#F00;}
.sopTxt .focus{border-color:#37C;}
.sopSelect{float:left;margin-right:10px;background:#FFF;border:1px solid #BFBFBF;}
.sopSelect-h30{padding:5px 2px;height:30px;*height:auto;*margin-top:5px;}

 
.sBtn-h30-o.disabled,.sBtn-h30-o.disabled span{
	background: #D8D8D8;
	cursor: default;
}

.allen_icon-norm {
	margin: 0 0 0 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/newIcon15.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/newIcon15.png*/ 0 -64px;
    vertical-align: -3px;
}
.tip-popBox{background-color:#fff}
.tip-popBox .pop-box-main{padding:27px 0 46px;}
.tip-popBox .tip-table{margin:0 auto;}
.tip-popBox .tip-table td{padding:10px 0;}
.tip-popBox .tip-table em{margin-right:10px;display:block;width:32px;height:32px;background:url("images/tipIcon.png")/*tpa=https://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ no-repeat -120px -70px;overflow:hidden;}
.tip-popBox .tip-table b{padding-top:6px;font-size:14px;line-height:20px;}
