@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial, tahoma,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
img{vertical-align:top;}
ul,ol{list-style:none;}
a{color:#2272c8;text-decoration:none;outline:none;}
a:hover{color:#FF7700;text-decoration:underline;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
.l{float:left;}
.r{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml8{margin-left: 8px;}
.mr4{margin-right: 4px;}
.w55{width:55px;}
.w60{width:60px;}
.w75{width:75px;}
.w160{width:160px;}
.w220{width:220px;}
.w270{width:270px;}
.w290{width:290px;}
.w320{width:320px;}
.w340{width:340px;}
.w360{width:360px;}
.w400{width:400px;}
.w450{width:450px;}
.w660{width:660px;}
.w610{width:610px;}
.pl145{padding-left:145px;}
.pl77{padding-left:77px;}
.pr5{padding-right:5px;}

/*juyunfang==============2014-09-23==============*/
/*sBtn*/
.sBtn,.sBtn span{display:inline-block;background:url("images/allBtn-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/allBtn.png*/ no-repeat;}
.sBtn{padding-left:15px;}
.sBtn:hover{text-decoration:none;}
.sBtn span{padding-right:15px;text-align:center;font-weight:700;cursor:pointer; vertical-align:top;}
.sBtn:hover span{text-decoration:none;}

/*40px高 大按钮*/
.sBtn-h40,.sBtn-h40 span{height:40px;line-height:40px;font-size:20px; font-family:"Microsoft YaHei";}
.sBtn-h40 span{min-width:95px;}
.sBtn-h40{padding-left:20px;}
.sBtn-h40 span{padding-right:20px; letter-spacing:3px;}
.sBtn-h40-o{background-position:left 0;}
.sBtn-h40-o span{background-position:right 0;color:#FFF;}
.sBtn-h40-o:hover{background-position:left -40px;}
.sBtn-h40-o:hover span{background-position:right -40px;}
.sBtn-h40-b{background-position:left -80px;}
.sBtn-h40-b span{background-position:right -80px;color:#FFF;}
.sBtn-h40-b:hover{background-position:left -120px;}
.sBtn-h40-b:hover span{background-position:right -120px;}
.sBtn-h40-g{background-position:left -160px;}
.sBtn-h40-g span{background-position:right -160px;color:#666;}
.sBtn-h40-g:hover{background-position:left -200px;}
.sBtn-h40-g:hover span{background-position:right -200px;}
.sBtn-h40-d,.sBtn-h40-d:hover{background-position:left -240px;cursor:not-allowed;}
.sBtn-h40-d span,.sBtn-h40-d:hover span{background-position:right -240px;color:#CCC;cursor:not-allowed;}

/*36px高 中按钮*/
.sBtn-h36,.sBtn-h36 span{height:36px;line-height:36px;font-size:16px;}
.sBtn-h36 span{min-width:55px;}
.sBtn-h36-o{background-position:left -280px;}
.sBtn-h36-o span{background-position:right -280px;color:#FFF;}
.sBtn-h36-o:hover{background-position:left -316px;}
.sBtn-h36-o:hover span{background-position:right -316px;}
.sBtn-h36-b{background-position:left -352px;}
.sBtn-h36-b span{background-position:right -352px;color:#FFF;}
.sBtn-h36-b:hover{background-position:left -388px;}
.sBtn-h36-b:hover span{background-position:right -388px;}
.sBtn-h36-g{background-position:left -424px;}
.sBtn-h36-g span{background-position:right -424px;color:#666;}
.sBtn-h36-g:hover{background-position:left -460px;}
.sBtn-h36-g:hover span{background-position:right -460px;}
.sBtn-h36-d,.sBtn-h36-d:hover{background-position:left -496px;cursor:not-allowed;}
.sBtn-h36-d span,.sBtn-h36-d:hover span{background-position:right -496px;color:#CCC;cursor:not-allowed;}

/*30px高 中按钮*/
.sBtn-h30,.sBtn-h30 span{height:30px;line-height:30px;font-size:14px;}
.sBtn-h30-o{background-position:left -532px;}
.sBtn-h30-o span{background-position:right -532px;color:#FFF;}
.sBtn-h30-o:hover{background-position:left -562px;}
.sBtn-h30-o:hover span{background-position:right -562px;}
.sBtn-h30-b{background-position:left -592px;}
.sBtn-h30-b span{background-position:right -592px;color:#FFF;}
.sBtn-h30-b:hover{background-position:left -622px;}
.sBtn-h30-b:hover span{background-position:right -622px;}
.sBtn-h30-g{background-position:left -652px;}
.sBtn-h30-g span{background-position:right -652px;color:#666;}
.sBtn-h30-g:hover{background-position:left -682px;}
.sBtn-h30-g:hover span{background-position:right -682px;}
.sBtn-h30-d,.sBtn-h30-d:hover{background-position:left -712px;cursor:not-allowed;}
.sBtn-h30-d span,.sBtn-h30-d:hover span{background-position:right -712px;color:#CCC;cursor:not-allowed;}

/*26px高 小按钮*/
.sBtn-h26,.sBtn-h26 span{line-height:26px;*height: 26px;}
.sBtn-h26-o{background-position:left -742px;}
.sBtn-h26-o span{background-position:right -742px;color:#FFF;}
.sBtn-h26-o:hover{background-position:left -768px;}
.sBtn-h26-o:hover span{background-position:right -768px;}
.sBtn-h26-b{background-position:left -794px;}
.sBtn-h26-b span{background-position:right -794px;color:#FFF;}
.sBtn-h26-b:hover{background-position:left -820px;}
.sBtn-h26-b:hover span{background-position:right -820px;}
.sBtn-h26-g{background-position:left -846px;}
.sBtn-h26-g span{background-position:right -846px;color:#666;}
.sBtn-h26-g:hover{background-position:left -872px;}
.sBtn-h26-g:hover span{background-position:right -872px;}
.sBtn-h26-d,.sBtn-h26-d:hover{background-position:left -898px;cursor:not-allowed;}
.sBtn-h26-d span,.sBtn-h26-d:hover span{background-position:right -898px;color:#CCC;cursor:not-allowed;}

/*22px高 小按钮*/
.sBtn-h22,.sBtn-h22 span{height:22px;line-height:22px; font-weight:normal;}
.sBtn-h22-o{background-position:left -924px;}
.sBtn-h22-o span{background-position:right -924px;color:#FFF;}
.sBtn-h22-o:hover{background-position:left -946px;}
.sBtn-h22-o:hover span{background-position:right -946px;}
.sBtn-h22-b{background-position:left -968px;}
.sBtn-h22-b span{background-position:right -968px;color:#FFF;}
.sBtn-h22-b:hover{background-position:left -990px;}
.sBtn-h22-b:hover span{background-position:right -990px;}
.sBtn-h22-g{background-position:left -1012px;}
.sBtn-h22-g span{background-position:right -1012px;color:#666;}
.sBtn-h22-g:hover{background-position:left -1034px;}
.sBtn-h22-g:hover span{background-position:right -1034px;}
.sBtn-h22-d,.sBtn-h22-d:hover{background-position:left -1056px;cursor:not-allowed;}
.sBtn-h22-d span,.sBtn-h22-d:hover span{background-position:right -1056px;color:#CCC;cursor:not-allowed;}

/*=========================== 分页 =========================== */
/*pages*/
.s-pages{height:30px;color:#666;overflow:hidden;}
.s-pages .pages{height:30px;overflow:hidden;}
.s-pages a{float:left;margin-right:5px;background:#FFF;border:1px solid #CCC;color:#666;width: 28px;height: 28px;line-height: 28px;text-align: center;}
.s-pages a:hover{color:#F70;text-decoration:none;}
.s-pages span{float:left;line-height:24px;font-weight:400;}
.s-pages span.prev,.s-pages span.next{height:24px;line-height:24px;background:#FFF;border:1px solid #DDD;font-weight:400;padding:0 8px 0 4px;}
.s-pages a.prev,.s-pages a.next{height:24px;line-height:24px;background:#FFF;border:1px solid #CCC;overflow:hidden;padding:0 8px 0 4px;}
.s-pages a.next{padding:0 4px 0 8px;}
.s-pages span.prev em,.s-pages span.next em,.s-pages a.prev em,.s-pages a.next em{float:left;display:inline;margin-top:6px; padding:0; width:0;height:0;line-height:0;font-size:0;border:5px solid;}
.s-pages span.prev i,
.s-pages span.next i{float:left;color:#999;}
.s-pages a.prev i,.s-pages a.next i{float:left;color:#333;font-weight:400;*line-height:24px;cursor:pointer;}
.s-pages a.prev:hover i,.s-pages a.next:hover i{color:#F70;}
.s-pages span.prev{padding:0 8px 0 2px;}
.s-pages span.next{padding:0 2px 0 8px;}
.s-pages span.prev em{margin-right:6px;border-color:#FFF #CCC #FFF #FFF;}
.s-pages a.prev em{margin-right:6px;border-color:#FFF #999 #FFF #FFF;}
.s-pages span.next em{margin-left:6px;border-color:#FFF #FFF #FFF #CCC;}
.s-pages a.next em{margin-left:6px;border-color:#FFF #FFF #FFF #999;}
.s-pages b{float:left;margin-right:6px;border:1px solid #ff9c00; color:#fff;width: 28px;height: 28px;line-height: 28px;text-align: center;background: #ff9c00;}
.s-pages .sel{float:left;margin-right:6px;border:1px solid #ff9c00; color:#fff;width: 28px;height: 28px;line-height: 28px;text-align: center;background: #ff9c00;overflow: hidden;font-weight:bold;}
.s-pages .sel:hover{color:#fff;}
.s-pages .page-inp{float:left;display:inline;margin-left:25px;}
.s-pages .page-inp span{margin-right:20px;color:#333;font-weight:400;}
.s-pages .page-inp .inp{float:left;margin-right:5px;width:48px;height:28px;background:#FFF;border:1px solid #CCC;font-weight:700;color:#666;text-align:center;}
.s-pages .page-inp .submit, .pagesubmit{float:left;width:50px;height:30px;background:#FFF;border:1px solid #CCC;line-height:24px;*line-height:22px;color:#333;text-align:center;cursor:pointer;outline: none;border-radius: 2px;}
.pagesubmit{float:none;}
.s-pages .page-inp .submit:hover, .pagesubmit:hover{background: #f5f5f5;text-decoration:none;}
.s-pages a.next.disabled-next em{border-color: #FFF #FFF #FFF #CCC;}
.s-pages a.prev.disabled-prev em{border-color: #FFF #CCC #FFF #FFF;}
/*分页-用以前老样式  add by xuzhognchao */
.snPages{float:right;padding-bottom:10px;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;*position:static;display:inline;float:left;margin-right:4px;color:#333;font-size:12px;}
.snPages span{font-size:12px;}
.snPages div{line-height:24px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:24px;line-height:24px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.current:visited{_color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{display:inline-block;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages span.prev,.snPages a.prev{*margin-right:4px;}
.snPages span.next,.snPages a.next{*margin-left:4px;}
.snPages b{position:absolute;*display:inline-block;*position:static;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:10px;}
.snPages a.next b{right:1px;top:10px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:10px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{width:32px;height:24px;line-height:24px;margin:0 3px;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{cursor:pointer;width:45px;height:26px;line-height:26px;_line-height:20px;background:#fff;border-radius:4px 4px 4px 4px;}
.snPages a:hover{color:#f60;}
.changePage .snPages li{float:left;}

/*分页二*/
.s-pages2 a.prev{padding:0 4px 0 4px;}
.s-pages2 a.next{padding:0 4px 0 4px;}
.s-pages2 span.prev{padding:0 6px 0 2px;}
.s-pages2 span.next{padding:0 2px 0 6px;}

/*================================ 提示信息 ===============================*/
/*tipIcon.png聚合图*/
.notice i ,.message b ,.confirm-tips .tips i{background:url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ no-repeat 0 -999em;}
.notice{display:inline-block; padding:5px 10px; line-height:18px; border:1px solid #ffcc66; background-color:#FFFFF0; color:#333;}
.notice-multi{padding:6px 10px;}
.notice i{float:left; margin:1px 5px 0 0; width:16px; height:16px; background-position:-180px -140px;}
.notice p{overflow:hidden;}
.notice p em{font-weight:700;}

/* .history-contract .notice-multi{display:block;margin-bottom:10px;} */

/*bg_notice_arrow.png聚合图*/
.notice-arrow ,.notice-arrow b{background:url("images/bg_notice_arrow-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/bg_notice_arrow.png*/ no-repeat right -999em;}

.notice-arrow{position:absolute;display:inline-block; padding:6px 10px; background-position:100% 0; line-height:18px;}
.notice-arrow p{line-height:18px;}
.notice-arrow b{position:absolute; left:-8px; top:0; display:inline-block; width:8px;height:30px; background-position:0 0;}
.notice-arrow-26{padding:4px 10px; background-position:100% -34px;}
.notice-arrow-26 b{height:26px; background-position:0 -34px;}

/*message*/
.message{padding:20px; line-height:24px; border-width:1px; border-style:solid;}
.message b{float:left; margin:1px 10px 0 0; width:32px; height:32px;}
.message .info{overflow:hidden;}
.message h4{font-size:14px; color:#333;}
.message p{color:#666;}
.msg-success{background-color:#F0FFF0; border-color:#99CC99;}
.msg-success b{background-position:-120px -0px;}
.msg-failed{background-color:#FFF0F0; border-color:#FF5555;}
.msg-failed b{background-position:-120px -70px;}
.alert{width:135px; height:44px; line-height:44px; background-color:#64B100; text-align:center; font-weight:700; font-size:14px; color:#FFF;}
.alert-failed{background-color:#DD0000;}

/*========================== 报错 ========================*/
.page-error{width:420px; margin:0 auto; padding:75px 0 50px 285px;background:url("images/bg_page_error-1.jpg")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/bg_page_error.jpg*/ no-repeat 0 115px;}
.page-error h2{margin-bottom:6px;font-size:24px;font-weight:normal;font-family:'Microsoft YaHei';color:#666;}
.page-error p{margin-bottom:23px;line-height:20px;color:#666;}
.page-error .tips{margin:75px 0 0 -80px;line-height:20px;color:#666;}
.page-error .tips p{margin:0;}
.page-error .tips p a{margin:0 10px;}
.page-error .tips p span{margin-right:20px;}
.page-error dt{float:left;width:70px;text-align:right;padding-right:5px;}
.page-error dd{float:left;width:410px;}

/* ======================== tabs模块 ================================ */
.tabs, .tabs_link{margin-bottom:20px;}
.tabs-handler{border-bottom:2px solid #2988cc;}
.tabs-handler .item{float:left; margin:0 5px 0 0;background-color:#f2f2f2;color:#888888;}
.tabs-handler .item a{display:block; min-width:97px; *zoom:1; *display:inline; padding:0 20px; outline:0 none; height:29px; line-height:29px;  border:1px solid #DDD; border-bottom:none; text-align:center; color:#333;}
.tabs-handler .item a:hover{text-decoration:none;}
.tabs-handler .cur a{background-color:#2988cc; border-color:#2988CC; font-weight:700; color:#FFFFFF;}
.tabs-content{padding:10px; overflow:hidden; zoom:1;}
.tabs-panel{display:none;}

/*提示确认*/
.confirm-tips .tips{margin:0 auto 18px;text-align:center;}
.confirm-tips .tips .txt{float:left;text-align:left; zoom:1; overflow:hidden;}
.confirm-tips .tips .txt h2{line-height:25px; margin-bottom:15px; font-size:14px;font-weight:700;color:#333;}
.confirm-tips .tips .txt p{color:#666;}
.confirm-tips .tips i{float:left;margin:-5px 9px 0 0; padding:16px; line-height:25px;background-position:-120px -140px;zoom:1;}
.confirm-tips .ok i{background-position:-120px -0;}
.confirm-tips .btn-wrap{text-align:center;}
.confirm-tips .error i{background-position:-120px -70px;}
.confirm-tips .btn-wrap .sBtn ,.confirm-tips .btn .sBtn{margin:0 5px;}
.confirm-tips .tips-sorry i{margin-top:20px;width:100px; height:60px; background:url("images/bg_tips_sorry-1.jpg")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/bg_tips_sorry.jpg*/ no-repeat 0 0;}
.confirm-tips .tips-sorry h2{margin-bottom:10px;}

/* 输入框 */
.sText{float:left;padding-right:10px;}
.sText input{height:18px;background:#FFF;border:1px solid #bbb;}
.sText .err{border-color:#F00;}
.sText .focus{border-color:#37C;}
.sText-h26{height:26px;}
.sText-h26 input{padding:3px 5px;}
.sText-h30{height:30px;}
.sText-h30 input{padding:5px;}
.sText-h32{height:32px;}
.sText-h32 input{padding:6px 5px;}
.sTxt{float:left;margin-right:10px;}
.sTxt textarea{padding:0 5px;background:#FFF;border:1px solid #bbb;resize:none;}
.sTxt .err{border-color:#F00;}
.sTxt .focus{border-color:#37C;}
.sSelect{float:left;margin-right:10px;background:#FFF;border:1px solid #bbb;}
.sSelect-h26{padding:3px 2px;height:26px;*height:auto;}
.sSelect-h30{padding:5px 2px;height:30px;*height:auto;}

/* 报错位 */
.sTip{height:16px;overflow:hidden; line-height:16px;color:#666;}
.sTip em{float:left;width:16px;height:16px;margin-right:3px;background:url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ no-repeat;overflow:hidden;}
.sTip span{float:left;line-height:16px;color:#666;}
.sTip-false{color:#f00;}
.sTip-false em{background-position:-180px -70px;}
.sTip-ok em{background-position:-180px 0;}
.sTip-warn em{background-position:-180px -140px;}

/*表单*/
.forms-table{width:100%;}
.forms-table td{vertical-align:top;}
.forms-table .hd{text-align:right; padding-right:2px; color:#333;}
.forms-table .td{height:50px;}
.forms-table .ftips{line-height:22px;color:#666;}
.forms-table .btn{padding-top:6px;}
.forms-table .btn .sBtn{margin-right:10px;}
.forms-table .get-verify{float:left;margin-right:10px;height:24px;line-height:24px;width:94px;background-color:#F8F8F8;border:1px solid #CCC;text-align:center;color:#666;}
.forms-table .get-verify:hover{text-decoration:none;}
.forms-table span.get-verify{color:#bbb;}
.l-h26{line-height:26px;}

/*data-table 表格*/
.data-table{width:100%;}
.data-table th{padding:8px 10px;background-color:#F0F0F0;border:1px solid #DDD;border-bottom:1px solid #F0F0F0;text-align:center;font-weight:normal;color:#666;}
.data-table th.tl{text-align:left;}
.data-table th .cbox ,.data-table td .cbox{vertical-align:middle; margin-right:5px;}
.data-table td{padding:9px 10px;border:1px solid #EEE;text-align:center;}
.data-table td.tl{text-align:left;}
.data-table td.bl{border-left:1px solid #DDD;}
.data-table td.br{border-right:1px solid #DDD;}
.data-table td.bb{border-bottom:1px solid #DDD;}
.data-table tr.odd td{background-color:#F9F9F9;}

/*交易中心顶部样式块  by  蒯灵敏 2014/09/04*/
.head-div{height: 140px;}
.head{width:100%; min-width: 1190px;}
/* 头部不滚动 */
/*.headfix{position:fixed; z-index: 100;}*/
.head .head-top{width: auto; height: 30px;  background: #fff; color: #757575;}
.head .head-top .head-user{ float: left; width: 20%; height: 30px;}
.head .head-top .head-user .login-name{float: left; width: 85px; line-height: 30px; *line-height: 31px !important;}
.head .head-top .head-user .login-title{float: left; width: 115px; line-height: 30px; *line-height: 31px !important;}
.head .head-top .head-user .login-exit{height:30px; line-height: 30px; *line-height: 32px !important;}
.head .head-top ul{float: right; height: 13px; margin:10px 40px 0px 0px; }
.head .head-top ul li{float: left; padding: 0px 9px 0px 10px; height: 12px;  line-height: 11px; *line-height: 14px !important;}
.head .head-top ul .li-com{border-right: 1px solid #D1D1D1;}
.head .head-top .li-link{color: #757575;}
.head .head-top .li-link:hover{color:#FF7700;text-decoration:underline;}
/*交易中心顶部样式块 滚动样式*/
.head-scroll{ box-shadow:0 2px 10px rgba(125, 125, 125, 0.8); z-index: 999;}
/*交易中心提示样式块  by  蒯灵敏 2014/09/09*/
.point{width: 100%; min-width: 1190px; height: 40px; border-bottom: 1px solid #DDD; background: #fff; line-height: 40px; *line-height: 41px !important; }
.point .point-context .point-img{ display: block; width: 16px; height: 15px; margin: 13px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -117px;}
.point .point-context .point-notice{color: #FF7700;}
.point .point-context .point-info{color: #666;}
.point .point-context li{float: left;}

/*交易中心搜索样式块  by  蒯灵敏 2014/09/04*/
.head-find{width: 100%; height: 70px; background: #2882D7;}
.head-find .head-logo{display:block; float: left; width: 345px; height: 32px; margin: 20px 0px 0px 20px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px 0px repeat-x;}
.head-find .find{float:right;background:url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -35px; width: 240px; height: 30px; margin: 20px 50px 0px 0px;}
.head-find .find .find-input{float: left; width:200px; height: 30px; margin-left: 10px; border: 0px;  overflow: auto;
    background: transparent; line-height: 30px; color: #B7B7B7; resize: none; }
.head-find .find .find-logo{ float: right; width: 16px; height: 16px; margin: 6px 10px 0px 0px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -68px; font-size: 12px; cursor: pointer;}

/*交易中心导航栏样式块  by  蒯灵敏 2014/09/05*/
.nav{width: auto; height: 40px; }
.nav .nav-ul{float: left;}
.nav .nav-ul li{float: left; padding: 0px 20px 0px 20px; height: 40px;line-height: 40px; *line-height: 41px !important; font-size: 14px; font-weight: bold;}
.nav .nav-ul li:hover{background: #1763AB;}
.nav .nav-ul li a{color: #fff; text-decoration: none;}
.nav .model{float: right; width: 228px; margin: 0px 39px 0px 0px;}
.nav .model .model-one{float: left; display: block; width: 12px; height: 12px; margin: 15px 0px 0px 10px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -87px;}
.nav .model .model-com{float: left; margin:15px 0px 0px 10px; height: 12px;  line-height:12px; *line-height: 14px !important; }
.nav .model .model-com .model-link{color: #fff;}
.nav .model .model-two{display: block;  float:left; width: 11px; height: 11px; margin:15px 0px 0px 10px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -103px;}
.nav .model a{color: #fff;text-decoration:none;outline:none;}
.nav .model .model-bg{float: left; padding-right: 10px; margin: 0px 1px 0px 1px; height: 40px; cursor: pointer;}
.nav .model .model-i{float: left; margin-top: 15px; width: 1px; height: 12px; background: #5E99D1;}

.main{min-width: 1190px;  background: #F0F0F0; overflow: hidden;}

/*交易中心菜单样式块  by  蒯灵敏 2014/09/09*/
.main .menu{float: left; width: 190px; min-height: 500px; background: #fff; border:0;}
.menuTree li>a {height: 35px; line-height: 35px; display: block; cursor: pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color: #666; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.menuTree .parent >a{text-decoration:none; color: rgb(51, 51, 51);}
.menuTree .level0 >a{font-weight: bold;}
.menuTree .level0{border-bottom: 1px solid #F0F0F0;}
.menuTree .active>a{background: #2882d7; color: #fff;}
.menuTree .active>a>i{background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -88px -71px; margin: 14px 17px 0 0;}
.shop-img{float: left; display: inline; width: 17px; height: 15px; margin: 10px 10px 0px 0px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/;}
.arrow{float: right; width: 10px; height: 9px; margin: 14px 15px 0 0; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -81px -69px;}

/* 前端用 */
.main .menu{float: left; width: 190px; min-height: 500px; background: #fff; border:0; overflow: hidden ; }
.main .menu .menu-com{float:left;width: 100%; border-bottom: 1px solid #F0F0F0; cursor: pointer;}
.main .menu .menu-top{margin-top: 15px;}
.main .menu .menu-com .menu-title{height: 35px; line-height: 35px; *line-height: 37px !important;}
.main .menu .menu-com .menu-title li{float: left;}
.main .menu .menu-title .shortcut{width:14px; height:11px;  margin: 13px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0 -134px; }
.main .menu .menu-title .shop{width:15px; height:15px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -19px -129px; }
.main .menu .menu-title .ware{width:15px; height:15px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -1px -165px; }
.main .menu .menu-title .logistics{width:16px; height:14px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -18px -148px; }
.main .menu .menu-title .marketing{width:16px; height:15px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -19px -165px; }
.main .menu .menu-title .client{width:16px; height:16px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ 0px -147px; }
.main .menu .menu-title .finance{width:16px; height:16px;  margin: 11px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -18px -111px; }
.main .menu .menu-title .data{width:16px; height:16px;  margin: 10px 10px 0px 15px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -40px -149px; }
.main .menu .menu-title .com-img{display: block; }
.main .menu .menu-title .arrow-com{display:block; width: 5px; height: 9px;  background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -81px -69px;}
.main .menu .menu-title .arrow-hover{display:block; width: 9px; height: 5px;  background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -88px -71px;}
.main .menu .menu-title .arrow{float: none; margin: 14px 0px 0px 80px;}
.main .menu .menu-title .arrow-top{ margin: 14px 0px 0px 82px;}
.main .menu .menu-title .arrow-fu{ margin: 14px 0px 0px 81px;}
.main .menu .menu-title .arrow-data{margin: 14px 0px 0px 93px;}
.main .menu .menu-title .context{font-weight: bold; color: #333;}
.main .menu .menu-list{display:none; margin:12px 0px 0px 39px; }
.main .menu .menu-list li{margin-bottom: 12px;}
.main .menu .menu-list li a{color: #666;}
.main .menu .menu-list li a:hover{color:#FF7700;text-decoration:underline;}
.main .menu .menu-list .menu-first{width: 100px;}
.main .menu .menu-list .add{display:block;float:right; position: relative; width:10px; height:10px; margin: 3px 10px 0px 0px; *margin-top: -15px !important;  background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -104px -68px; z-index: 100;}
.main .menu .news{float: left; width: 170px; height: 160px; margin: 30px 0px 0px 10px;}

/*交易中心增加模板  by  蒯灵敏 2014/09/19*/
.addmodel{display:block; position:fixed; width: 600px;  background: #fff; overflow: hidden; border-top:5px solid #FF9600; border-left: 1px solid #D6D6D6; border-right: 1px solid #D6D6D6; border-bottom: 1px solid #D6D6D6; box-shadow:0px 5px 5px -2px rgba(125, 125, 125, 0.8);  z-index: 999;}
.addmodel .add-left{float:left;width: 140px; height: 500px; background: #eee;}
.addmodel .add-left li{ width:100%; height: 35px; line-height: 35px; font-weight: bold; }
.addmodel .add-left .li-top{margin-top: 15px; background: #fff;}
.addmodel .add-left li i{float: right; margin-right: 10px; text-decoration: none; cursor: pointer; color: #333; }
.addmodel .add-left .lione li{color:#FF7700;}
.addmodel .add-right{float: left; width: 435px; height: 500px; margin-left: 10px;}
.addmodel .add-right .add-select{width: 100%; height: 50px; border-bottom: 1px solid #eee;}
.select{float:right; min-width: 120px; height: 26px; margin-top: 15px; border: 1px solid #D6D6D6; cursor: pointer;}
.select .select-val{float: left; min-width: 98px; height: 26px; line-height: 26px; margin-left: 5px; color: #333;}
.select .select-ico{float: left; width: 17px; height: 26px; }
.select .select-ico em{display:block; width: 7px; height: 4px; margin:10px 0px 0px 5px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -166px -85px; }
.addmodel .model-li{ width: 100%; margin-top: 10px; border-bottom: 1px solid  #D6D6D6;}
.addmodel .model-li .add-img{float:left; width: 60px; height: 60px;}
.addmodel .model-li .add-one{background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -225px -100px;}
.addmodel .model-li .add-two{background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -287px -100px;}
.addmodel .model-li .add-three{background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -349px -100px;}
.addmodel .model-li .add-four{background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/ -411px -100px;}
.addmodel .add-info{float: left; width: 365px; margin:0px 0px 15px 10px; *padding-bottom: 10px;}
.addmodel .add-info .infoname{ float:left; width: 100px; height: 17px; line-height: 17px; font-weight: bold; color: #333;}
.addmodel .add-info .add-count{float: right; color: #666;}
.addmodel .info-context{float:left; width: 340px; margin-top: 4px; color: #666;}
.addmodel .add-button{float:left; margin-top: 7px;cursor: pointer;}
.addmodel .s-add-button{float:left; margin-top: 7px;cursor: pointer;}

/*交易中心底部样式块  by  蒯灵敏 2014/09/09*/
.foot{ width:100%; min-width: 1190px; border-top: 1px solid #E6E6E6; overflow: hidden;}

/* 导航 -- 面包屑 */
.point-bread li{color:#666666;}
.point-bread li a{color:#2272c8;}
.point-bread li span{padding:0 8px; font-family:"SimSun";}
.point-home{display:block; width:16px; height:15px; margin:12px 10px 0 15px; background:url("../images/icon_sell-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/icon_sell.png*/; overflow:hidden;}

/* 右侧内容部分 */
.main-context{margin: 15px 50px 15px 200px; overflow:hidden;}
.main-all{ margin: 15px 50px 15px 10px;}
.main-sell{background:#fff;}

/* 右侧滑动层 */
.slide{position:fixed; top: 0px; right: 0px; width: 20px; height: 100%;  background:#949699; z-index: 9999; }
.slide .slide-com{float: left;  width: 40px; height: 40px; cursor: pointer;}
.slide .slide-com:hover{background: #2882D7;}
.slide .news{ display: block;  width: 22px; height: 19px; margin: 10px 10px 10px 10px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/  0px -183px; }
.slide .edit{ display: block; margin-left: 2px;  width: 17px; height: 17px; margin: 12px 10px 10px 11px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/  -24px -184px; }
.slide .help{ display: block;  width: 22px; height: 21px; margin: 10px 10px 10px 10px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/  -44px -183px; }
.slide .scroll-top{ display: block; margin-left: 1px; width: 20px; margin: 13px 10px 10px 10px; height: 11px; background: url("../images/index-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/images/index.png*/  -68px -185px; }
.slide .slide-end{margin-top: 20px;}

/*freight-edit*/
.data-table .freight input{width:67px;margin-bottom:3px;heihgt:18px; padding:3px 5px; border:1px solid #CCC;}
.data-table .freight p{color:#999;}
.freight-edit .add{margin-bottom:10px;padding-left:15px;height:52px;line-height:52px; background-color:#F2F2F2; border-bottom:1px dashed #CCC;color:#666;}
.freight-static .static{float:left;width:300px;}
.freight-static .static p{color:#999;}
.freight-static .static p em{font-size:14px; font-weight:700;color:#666;}
.freight-static .static em span{font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
.freight-static .static em b{font-weight:normal;color:#FF0101;}
.freight-static .btn{float:right;width:210px;padding-top:10px;}
.freight-static .btn .sBtn{margin-left:20px;}

/*add-employee*/
.add-employee .action{padding-top:20px;}
.add-employee .action .btn{float:left;}
.add-employee .s-pages{float:right;}
.add-employee .hd{margin-bottom:10px;}
.add-employee .hd .select{float:left;height:26px;border:1px solid #BBB;width:120px;}
.add-employee .hd .num{float:right;line-height:26px;color:#666;}
.add-employee .hd .num b{padding:0 5px;font-weight:700; font-family:Arial, Helvetica, sans-serif;color:#DD0000;}

/*input ywx*/
.uiText{width:156px;height:20px;padding:2px 2px 2px 4px;border:1px solid #ccc;color:#4D4D4D;line-height:22px;}
.uiText.focus,.uiText:focus{border:1px solid #78B9D9;}
input .focus{border:1px solid #78B9D9!important;}

/*问题建议 20150325 ywx*/
.hasnews{position: absolute;top:8px;left: 8px;display: inline-block;width: 9px;height: 9px;background: url("images/hasnews-1.gif")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/hasnews.gif*/ 0 0 no-repeat;}
.slide .quesbox{position:absolute;left:-442px;top:-152px;width: 440px;border: 1px solid #ccc;box-shadow: -3px 2px 10px #ccc;background: #fff;z-index: 99;cursor: default;}
.quesbox .quetitle{line-height: 36px;padding: 0 15px;height: 36px;line-height: 36px;border-bottom: 1px solid #ccc;background: url("images/evalbg-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/evalbg.png*/ 0 0 repeat-x;vertical-align: middle;}
.quesbox .quetitle span{font-size: 14px;font-weight: 700;}
.quesbox .quetitle .queclose{float: right;color: #666;font: 400 20px tahoma;margin-top: 5px;}
.quesbox .quetitle .queclose:hover{text-decoration: none;color: #f70;}
.quesbox .quemain{padding:20px 20px 20px 0;height:335px;}
.w130{width: 130px;}
.need{font-family: 'SimSun';color: #f00;  margin-right: 5px;}
.quesbox .quemain .quetab{padding-left: 10px;}
.shuruadv{padding-left: 10px;}
.quetab .quemodel{float: left;line-height: 26px;}
.quemodel .queadv{float: left;margin-right: 10px;}
.quemodel .quenote{margin-left:90px;}
.quemodel .notenum{color: #ef1414;font-weight: 700;}
.quemain .quecon{margin-top: 14px;}
.quemain .quecon .sugges{float: left;width:390px;border: 1px solid #ccc;height: 122px;padding: 3px;color: #999;overflow-y:auto;overflow-x:hidden;resize:none;}
.quemain .quecon .suggesnum{float: right;display: inline-block;margin-left: 10px;color: #666;color: #999;}
.quemain .quecon .suggesnum i{font-weight:700;}
.quemain .quecon .queup{position: relative;}
.quemain .quecon .queup span{float: left;display:inline-block;line-height: 26px;}
.quemain .quecon .queup .queupbtn{position: relative;overflow: hidden;float:left;}
.quemain .quecon .queup .queupbtn input{display: inline-block;position: absolute;top:-1px;right: -1px;font-size: 26px;opacity: 0;filter:alpha(opacity=0);cursor: pointer;}
.quemain .quecon .quecontrl{margin-top: 20px;text-align: center;}
.quecon .queup .quelist{float: left;margin-left: 10px;}
.quecon .queup .quelist li{float: left;margin-right: 10px;}
.quecon .queup .quelist li img{float: left;}
.quecon .queup .quelist li .quedelet{float: left;margin-top:10px;margin-left: 5px;}
.quecon .queup .uperr{position: absolute;top:-81px;left: 50px;border: 1px solid #fc6;background: #fffff0;}
.quecon .queup .uperr .errcon{position: relative;width:270px;padding:20px;}
.quecon .queup .uperr .errcon .errclose{position:absolute;top:0px;right:10px;display:inline-block;color: #666;font: 400 20px tahoma;width:15px;cursor: pointer;}
.quecon .queup .uperr dt{float:left;display: inline-block;width:32px;height: 32px;background: url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ -120px -140px no-repeat;}
.quecon .queup .uperr dd{float: left;width:231px;margin-left: 5px;}
.quecon .queup .uperr dd .p1{font-size: 14px;font-weight: 700;line-height: 32px;}
.quecon .queup .uperr dd .p2{color: #666;}
.quesbox .quesubmit{padding: 20px;text-align: center;height: 335px;}
.quesbox .quesubmit .queok{border: 1px solid #99cc99;background: #f0fff0;margin-top:80px;}
.quesbox .quesubmit .quesecc{width: 185px;margin: 0 auto;padding: 20px 0;}
.quesbox .quesubmit .quesecc em{float:left;display: inline-block;width: 32px;height: 32px;background: url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ -120px 0px no-repeat;margin-right: 5px;}
.quesbox .quesubmit .quesecc span{float: left;font-weight: 700;line-height: 32px;}
.quesbox .quesubmit .susseclose{margin-top:80px;}
.syslist{padding-left: 20px;height: 267px;}
.syslist li{margin-bottom: 1px;}
.syslist .lsys{float:left;margin-right: 5px;}
.lsys .syspic{width: 50px;height: 50px;border: 1px solid #afd0f0;background: #f6f9fc;text-align: center;}
.lsys .syspic img{margin-top: 8px;}
.lsys .sysnote{color: #666;margin-top: 5px;}
.lsys .sys999{color: #999;}
.syslist .tu{float:left;display: inline-block;width:10px;height: 133px;background: url("images/sys-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/sys.png*/ 0 0 no-repeat;}
.syslist .sys-message{position:relative;margin-left:5px;float: left;width: 320px;border: 1px solid #afd0f0;background: #f6f9fc;padding: 0 3px;}
.syslist .sys-message h3{font-weight: 700;font-size:12px;color: #666;padding-left:7px;margin-top: 8px;}
.syslist .sys-message .mcontext{color: #666;border-bottom: 1px dashed #ccc;padding:6px 0;padding-left: 7px;}
.syslist .sys-message .nobotbor{border-bottom: 0 none;}
.syslist .sys-message .sysclose{position:absolute;top:-7px;right:-7px;display:none;width: 16px;height: 16px;background: url("images/sysclose-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/sysclose.png*/ 0px 0px no-repeat;cursor: pointer;}
.syspages .s-pages{float: right;}
.nolist{text-align: center;margin-top:124px;}
.sysnodata em{display: inline-block;width: 16px;height: 16px;background: url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ -180px -70px no-repeat;margin-right: 5px;vertical-align:middle;}
/*问题详情*/
.quedetail{margin: 15px 55px 15px 15px;height:200px;background: #fff;padding:20px 20px 0 15px;}
.quedetail .lsys{float:left;margin-right: 10px;width: 50px;}
.quedetail .detailmessg{float: left;border: 1px solid #afd0f0;background: #f6f9fc;padding: 0 14px;width:91%;}
.quedetail .detailmessg h3{font-weight: 700;font-size:12px;color: #666;padding-left:7px;margin-top: 8px;}
.quedetail .detailmessg .mcontext{color: #666;border-bottom: 1px dashed #ccc;padding:6px 0;padding-left: 7px;}
.quedetail .detailmessg .nobotbor{border-bottom: 0 none;}

/* 仿select控件 */
.selectbox{ position:relative; background-color:#fff;}
.valuebox{ height: 24px; min-width:130px; border:1px solid #ddd; cursor: default; background-color: #fff;}
.selectbox .hiddenValue{ position:absolute}
.selectbox span.selectvalue{ min-width:60px; height: 22px; margin:0 25px 0 5px; border:0 none; line-height: 22px; color: #333; }
.valuebox .icon0{ position:absolute; right:6px; top:10px; width: 9px; height: 5px; background:url("images/inlineBg-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/inlineBg.png*/ no-repeat right -95px;}
.selectbox .seli{ display: none; position: absolute; top: 25px; left: 0; white-space: nowrap; background-color: #fff}
.selectbox .seli ul{ border:1px solid #ccc; height: 216px; padding:5px 5px 0 5px; overflow: hidden;}
.selectbox .seli ul li{ text-align: left; color: #000; background-color: #fff; cursor: pointer;}
.selectbox .seli ul li.selected{color: "#fff"; background: "#1e90ff" }

/* 浏览器提示升级 */
.browserUpgrade{ display: none; position: relative; width: 100%; height: 60px; background: url("images/browserUpgrade-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/browserUpgrade.png*/ no-repeat center top; z-index: 9;}
.scrolling{position:fixed; top:0; left:0; _top:expression(eval(document.documentElement.scrollTop));}
.browserUpgrade .upBox{ position: relative; width: 1190px; height: 60px; margin: 0 auto}
.browserUpgrade .upBox span{ float: left; padding-left: 58px; color: #fff; font:14px/60px \5FAE\8F6F\96C5\9ED1;}
.browserUpgrade .upBox a{ float: right; width: 123px; margin-top: 16px; height: 33px; background:url("images/browserUpgrade-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/browserUpgrade.png*/ no-repeat 0 -68px;}
.browserUpgrade .upBox em{ float: right; width: 16px; height: 15px; margin: 24px 20px 0 28px; background:url("images/browserUpgrade-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/browserUpgrade.png*/ no-repeat 0 -108px; cursor: pointer;}








/*新增公共部分*/

/*icon*/
.tipIcon{ display: inline-block; vertical-align: middle; background: url("images/tipIcon-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/tipIcon.png*/ no-repeat;}
/* tipTxt 蓝色感叹号 */
.exclamTip1{ width:64px; height:64px; background-position: 0 -140px;}
.exclamTip2{ width:48px; height:48px; background-position: -70px -140px;}
.exclamTip3{ width:32px; height:32px; background-position: -120px -140px;}
.exclamTip4{ width:24px; height:24px; background-position: -155px -140px;}
.exclamTip5{ width:16px; height:16px; background-position: -180px -140px;}
.exclamTip6{ width:12px; height:12px; background-position: -200px -140px;}
/* tipTxt 红色叉号 */
.errorTip1{ width:64px; height:64px; background-position: 0 -70px;}
.errorTip2{ width:48px; height:48px; background-position: -70px -70px;}
.errorTip3{ width:32px; height:32px; background-position: -120px -70px;}
.errorTip4{ width:24px; height:24px; background-position: -155px -70px;}
.errorTip5{ width:16px; height:16px; background-position: -180px -70px;}
.errorTip6{ width:12px; height:12px; background-position: -200px -70px;}
/* tipTxt 绿色对号 */
.fitTip1{ width:64px; height:64px; background-position: 0 0;}
.fitTip2{ width:48px; height:48px; background-position: -70px 0;}
.fitTip3{ width:32px; height:32px; background-position: -120px 0;}
.fitTip4{ width:24px; height:24px; background-position: -155px 0;}
.fitTip5{ width:16px; height:16px; background-position: -180px 0;}
.fitTip6{ width:12px; height:12px; background-position: -200px 0;}
/* tipTxt 绿色问号 */
.enquireTip1{ width:64px; height:64px; background-position: 0 -210px;}
.enquireTip2{ width:48px; height:48px; background-position: -70px -210px;}
.enquireTip3{ width:32px; height:32px; background-position: -120px -210px;}
.enquireTip4{ width:24px; height:24px; background-position: -155px -210px;}
.enquireTip5{ width:16px; height:16px; background-position: -180px -210px;}
.enquireTip6{ width:12px; height:12px; background-position: -200px -210px;}
/* tipTxt 红色警告 */
.warnTip1{ width:64px; height:64px; background-position: 0 -280px;}
.warnTip2{ width:48px; height:48px; background-position: -70px -280px;}
.warnTip3{ width:32px; height:32px; background-position: -120px -280px;}
.warnTip4{ width:24px; height:24px; background-position: -155px -280px;}
.warnTip5{ width:16px; height:16px; background-position: -180px -280px;}
.warnTip6{ width:12px; height:12px; background-position: -200px -280px;}












.order-icon-all{ display: inline-block; vertical-align: middle; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ no-repeat;}
/* 旗帜 */
.red-flag-red{ width: 13px; height: 15px; background-position: -100px 0;}
.red-flag-gray{ width: 13px; height: 15px; background-position: -113px 0;}
.red-flag-green{ width: 13px; height: 15px; background-position: -126px 0;}
.red-flag-yellow{ width: 13px; height: 15px; background-position: -139px 0;}
.red-flag-blue{ width: 13px; height: 15px; background-position: -152px 0;}
.red-flag-purple{ width: 13px; height: 15px; background-position: -165px 0;}
.messageTip{ width: 16px; height: 13px; background-position: -185px 0;}
.loudou{ width: 12px; height: 12px; background-position: -206px 0;}
/* 图标 */
.overseasShopping{ width: 59px; height: 16px; background-position: 0 -281px;}
.wangMeng{ width: 52px; height: 16px; background-position: 0 -297px;}
.bookingOrder{ width: 76px; height: 16px; background-position: 0 -265px;}
.S-Order{ width: 76px; height: 16px; background-position: -85px -249px;}
.killOrder{ width: 76px; height: 16px; background-position: 0 -249px;}
.phoneOrder{ width: 76px; height: 16px; background-position: 0 -313px;}
.shanPai{ width: 51px; height: 16px; background-position: 0 -329px;}
.menDianOrder{ width: 75px; height: 16px; background-position: 0 -345px;}
.quanEDui{ width: 64px; height: 16px; background-position: 0 -361px;}
.addMoney{ width: 64px; height: 16px; background-position: 0 -377px;}
.menDianMoney{ width: 76px; height: 16px; background-position: 0 -393px;}
.giftCard{ width: 64px; height: 16px; background-position: 0 -409px;}
.huoDaoMoney{ width: 76px; height: 16px; background-position: 0 -425px;}
.tryBargain{ width: 66px; height: 18px; background-position: 0 -441px;}
.freeTry{ width: 78px; height: 18px; background-position: 0 -459px;}
.postagePaidTry{ width: 78px; height: 18px; background-position: 0 -477px;}
.channelExclusive{ width: 78px; height: 18px; background-position: 0 -495px;}
.EAN{ width: 53px; height: 16px; background-position: -107px -265px;}
.QRCode{ width: 64px; height: 16px; background-position: -96px -281px;}
.shield{ width: 52px; height: 16px; background-position: -108px -297px;}




























/*表头排序*/
i.pubSort{ display: inline-block; width: 13px; height: 13px; vertical-align: middle; margin: 0 5px; overflow: hidden; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ 0 -141px; cursor: pointer;}
i.pubSort-up{ background-position: -13px -141px;}
i.pubSort-down{ background-position: -26px -141px;}

/*奇偶行*/
tr.odds{ background-color: #f9f9f9;}
tr.trHover{ background-color: #edf3ff;}

/*选项卡*/
.pubTab{ zoom: 1;}
.pubTab:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.pubTab li{ float: left; cursor: pointer;}
.pubTab01{ background: #f2f2f2; border: 1px solid #ddd; border-bottom: 2px solid #2882d7;}
.pubTab01 li{ padding: 5px 25px; border-right: 1px solid #ddd;}
.pubTab01 li.sel{ background: #2882d7; border-right: 1px solid #2882d7; border-bottom: 1px solid #2882d7; color: #fff; font-weight: bold; margin: -1px 0 0 -1px;}
.pubTab02{ background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ 0 -165px; height: 38px; line-height: 38px; border: 1px solid #ddd;}
.pubTab02 li{ height: 38px; line-height: 38px; padding: 0 20px; border-right: 1px solid #ddd; font-size: 14px; color: #666;}
.pubTab02 li.sel{ background: #fff; color: #288ddb; font-weight: bold; border-top: 2px solid #2b88cd;}
.pubTab03{ border-left: 1px solid #ddd; border-bottom: 2px solid #2882d7;}
.pubTab03 li{ background: #f2f2f2; padding: 8px 25px; border-top: 1px solid #ddd; border-right: 1px solid #ddd;}
.pubTab03 li.sel{ background: #2882d7; border-right: 1px solid #2882d7; border-bottom: 1px solid #2882d7; color: #fff; font-weight: bold; margin: -1px 0 0 -1px;}

/*步骤*/
.pubStep{ zoom: 1;}
.pubStep:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.pubStep1 li{ float: left; background: #ccc; height: 39px; line-height: 39px; text-align: center; color: #fff; font-size: 14px;}
.pubStep1 li div{ float: right; width: 22px; height: 39px; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ no-repeat -75px 0;}
.pubStep1 li i{ display: inline-block; width: 24px; height: 24px; line-height: 24px; margin: 0 10px 0 0; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ no-repeat 0 -50px;}
.pubStep1 li.ed{ background: #3c96f0;}
.pubStep1 li.ed div{ background-position: -25px 0;}
.pubStep1 li.ed-ed{ background: #3c96f0;}
.pubStep1 li.ed-ed div{ background-position: 0 0;}
.pubStep1 li.ing{ background: #ff9600;}
.pubStep1 li.ing div{ background-position: -50px 0;}
.pubStep1-3 li{ width: 33.3%;}
.pubStep1-4 li{ width: 25%;}
.pubStep1-5 li{ width: 20%;}
.pubStep2{ position: relative; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ 0 -203px; height: 10px; margin: 50px 100px;}
.pubStep2-greyDot,.pubStep2-blueDot,.pubStep2-num{ width: 36px; height: 36px; position: absolute; top: -13px; z-index: 1; background: url("images/pub-ico-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/pub-ico.png*/ 0 -213px; margin-left: -18px;}
.pubStep2-line{ position: absolute; z-index: 2; background: #4c97e2; height: 4px; left: 0; top: 3px;}
.pubStep2-blueDot{ background-position: -36px -213px; z-index: 3;}
.pubStep2-num{ z-index: 4;}
.pubStep2-num-1{ background-position: -72px -213px;}
.pubStep2-num-2{ background-position: -108px -213px;}
.pubStep2-num-3{ background-position: -144px -213px;}
.pubStep2-num-4{ background-position: -180px -213px;}
.pubStep2-num-5{ background-position: -216px -213px;}
.pubStep2-num-ok{ background-position: -252px -213px;}
.pubStep2-upTxt,.pubStep2-downTxt{ width: 200px; margin-left: -100px; position: absolute; z-index: 4; text-align: center; color: #888; font-weight: bold; top: -40px;}
.pubStep2-downTxt{ z-index: 5; font-weight: normal; top: 35px;}
.pubStep2-blueTxt{ color: #2272c8;}

/*提示*/
.newNotice{ display: inline-block; padding: 5px 10px; line-height: 18px; color: #333;}
.newNotice i{ margin: -1px 5px 0 0;}
.newNotice b{}
.noticeType01{ border: 1px solid #fc6; background-color: #FFFFF0;}
.noticeType02 b{}
.noticeType02{ border: 1px solid #FFD08C; background-color: #FFF2E0;}
.noticeType02 b{ color: #f60;}
.noticeType03{ border: 1px solid #fc6; background-color: #FFFFF0; padding: 0;}
.noticeType04{ border: 1px solid #FFD08C; background-color: #FFF2E0; padding: 0;}
.noticeType04 b{ color: #f60;}
.posNotice{ padding: 5px 10px; position: relative; zoom: 1;}
.posNotice:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.arrNotice1,.arrNotice2{ position: absolute; z-index: 1; width: 0; height: 0; line-height: 0; font-size: 0; border-width: 7px; border-style: solid;}
.arrNotice2{ z-index: 2;}
.arr-r-d .arrNotice1{ right: 10px; bottom: -15px;}
.arr-r-d .arrNotice2{ right: 10px; bottom: -14px;}
.arr-l-d .arrNotice1{ left: 10px; bottom: -15px;}
.arr-l-d .arrNotice2{ left: 10px; bottom: -14px;}
.arr-r-u .arrNotice1{ right: 10px; top: -15px;}
.arr-r-u .arrNotice2{ right: 10px; top: -14px;}
.arr-l-u .arrNotice1{ left: 10px; top: -15px;}
.arr-l-u .arrNotice2{ left: 10px; top: -14px;}
.arr-r-r-u .arrNotice1{ right: -15px; top: 8px;}
.arr-r-r-u .arrNotice2{ right: -14px; top: 8px;}
.arr-r-r-d .arrNotice1{ right: -15px; bottom: 8px;}
.arr-r-r-d .arrNotice2{ right: -14px; bottom: 8px;}
.arr-l-l-u .arrNotice1{ left: -15px; top: 8px;}
.arr-l-l-u .arrNotice2{ left: -14px; top: 8px;}
.arr-l-l-d .arrNotice1{ left: -15px; bottom: 8px;}
.arr-l-l-d .arrNotice2{ left: -14px; bottom: 8px;}
.noticeType03 .arr-r-d .arrNotice1,.noticeType03 .arr-l-d .arrNotice1{ border-color: #fc6 transparent transparent transparent;}
.noticeType03 .arr-r-d .arrNotice2,.noticeType03 .arr-l-d .arrNotice2{ border-color: #FFFFF0 transparent transparent transparent;}
.noticeType03 .arr-r-u .arrNotice1,.noticeType03 .arr-l-u .arrNotice1{ border-color: transparent transparent #fc6 transparent;}
.noticeType03 .arr-r-u .arrNotice2,.noticeType03 .arr-l-u .arrNotice2{ border-color: transparent transparent #FFFFF0 transparent;}
.noticeType03 .arr-r-r-d .arrNotice1,.noticeType03 .arr-r-r-u .arrNotice1{ border-color: transparent transparent transparent #fc6;}
.noticeType03 .arr-r-r-d .arrNotice2,.noticeType03 .arr-r-r-u .arrNotice2{ border-color: transparent transparent transparent #FFFFF0;}
.noticeType03 .arr-l-l-u .arrNotice1,.noticeType03 .arr-l-l-d .arrNotice1{ border-color: transparent #fc6 transparent transparent;}
.noticeType03 .arr-l-l-u .arrNotice2,.noticeType03 .arr-l-l-d .arrNotice2{ border-color: transparent #FFFFF0 transparent transparent;}
.noticeType04 .arr-r-d .arrNotice1,.noticeType04 .arr-l-d .arrNotice1{ border-color: #ffd08c transparent transparent transparent;}
.noticeType04 .arr-r-d .arrNotice2,.noticeType04 .arr-l-d .arrNotice2{ border-color: #FFF2E0 transparent transparent transparent;}
.noticeType04 .arr-r-u .arrNotice1,.noticeType04 .arr-l-u .arrNotice1{ border-color: transparent transparent #ffd08c transparent;}
.noticeType04 .arr-r-u .arrNotice2,.noticeType04 .arr-l-u .arrNotice2{ border-color: transparent transparent #FFF2E0 transparent;}
.noticeType04 .arr-r-r-d .arrNotice1,.noticeType04 .arr-r-r-u .arrNotice1{ border-color: transparent transparent transparent #ffd08c;}
.noticeType04 .arr-r-r-d .arrNotice2,.noticeType04 .arr-r-r-u .arrNotice2{ border-color: transparent transparent transparent #FFF2E0;}
.noticeType04 .arr-l-l-u .arrNotice1,.noticeType04 .arr-l-l-d .arrNotice1{ border-color: transparent #ffd08c transparent transparent;}
.noticeType04 .arr-l-l-u .arrNotice2,.noticeType04 .arr-l-l-d .arrNotice2{ border-color: transparent #FFF2E0 transparent transparent;}