.su-titList{overflow:inherit; width:109px; position: fixed;top:50%; margin-top:-200px; border:none; border-left: 2px solid #ebebeb;}
.su-titList li{float:none; padding:0 14px; height: 40px;line-height: 40px; background:none; }
.su-titList li.cur a{margin-left:-20px; color:#1976e6; background:url("images/icon_circle_cur-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_circle_cur.png*/ no-repeat 0 center;}
.su-titList li a{display:block; margin-left:-18px; height: 40px; line-height: 40px; padding: 0; border:none; background:url("images/icon_circle-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_circle.png*/ no-repeat 0 center; padding:0 15px; color: #333333;font-size: 12px; text-align: left; }
.su-titList li a:hover{color: #1976e6;}
.su-titList .su-firA{border-left: none;}
.tnote{margin-bottom:35px; margin-top:16px; font-size:12px; color: #333333;}
.su-table, .su-taQue{border-top:1px solid #e2e3e4;}
.su-taQue tr td{border-top:none;}
.os-exit{float:right; margin-left:20px;width:66px;height:28px;line-height:28px;border: 2px solid #fff;margin-top: 18px;font-size: 14px;color: #f4f7fd;display: inline-block;border-radius: 5px;text-align: center;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;}
.lname{float:right; margin-top:17px; height:32px; line-height:32px; max-width:80px; overflow:hidden; color:#ffffff; font-size:12px;}
.os-nav >li dl{margin-left:-16px;}

.tab{margin-bottom:40px; position:relative;}
.tab .copy{display:block; position:absolute; right:0; top:0; color:#2272c8;}
.tab-handler{margin-bottom:10px; height:25px; line-height:25px; border-bottom:1px solid #e2e3e4;border-left: 1px solid #e2e3e4;}
.tab-handler li{float:left; height:24px; padding:0 20px; font-size:14px; color:#666666; background-color:#e7f2ff; cursor:pointer; border: 1px solid #e2e3e4; border-left:none; border-bottom:none;}
.tab-handler li.cur{float:left; padding:0 20px; font-size:14px; color:#666666; background-color:#ffffff; border-bottom:1px solid #ffffff; position:relative; z-index:1;}
.tab-panel{display:none;}

.su-other{display: inline-block;width: 182px;height: 40px;line-height: 40px;text-align: center;color: #fff;background: #ff9c00;font-size: 18px;}
.su-other:hover{color: #fff;background: #fdaf34;}

.su-titList li a.su-topTo{border-bottom:none;
}
.su-topTo span{
    display: block;
    width: 20px;
    height: 10px;
    position: relative;
    top: 20px;
    left: 40px;
    background: url("images/OpenSer-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/OpenSer.png*/ no-repeat -12px -67px;
}

.su-table tr .name{padding-left:30px; }
.su-table tr.parent .tdmore{background:url("images/icon_more-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_more.png*/ no-repeat 15px center;}
.su-table tr.parent .tdslidedown{background:url("images/icon_slidedown-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_slidedown.png*/ no-repeat 15px center;}
.su-table tr.child{display:none; padding-left:45px;}

.su-table tr.child td.name{padding-left:40px; background:url("images/icon_child-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_child.png*/ no-repeat 30px center;}
/* 锟斤拷锟斤拷蟹旨锟斤拷锟绞�*/
.plus_link,.minus_link{ margin-top:2px; cursor:pointer;}
.plus_link{ background-position:0px -240px;}
.minus_link{ background-position:0px -260px;}
.word_link{ display:inline-block; float:left; text-indent:0;}


.on-menuL{border-top-width:2px}
.on-menuL .child-menu .parent-li{border-top:none; border-bottom:1px solid #e2e3e4;}

.headline .on-title{float:left;}
.headline .btn{float:right; margin-top:30px; padding-right:13px; text-align: right;}
.headline .btn a{position:relative; margin-left:12px; display:inline-block; width:96px; height: 28px; line-height: 28px; border:1px solid #1976e6; text-align:center; background-color:#ffffff; color:#1976e6; border-radius:3px;}
.headline .btn a em{display:block; position: absolute; right:-12px; top:-12px; width:23px; height:23px; background: url("images/icon_red-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_red.png*/ no-repeat 0 0; text-align: center; line-height:23px; color:#ffffff;}


.faqlist{width:880px; overflow: hidden; padding: 0; border-top:1px solid #e2e3e4; margin-top:10px; padding-top:20px;}
.faqlist li{width:880px; margin-bottom:20px; padding-bottom:20px; border-bottom:1px dotted #e2e3e4; font-size:14px;}
.faqlist li .dt{display:inline-block; margin-right:20px; width:700px;}
.faqlist li .dt a{color:#333;}
.faqlist li .dt a:hover{color:#2272cb;}
.faqlist li .dd{display:inline-block; width:150px; text-align: right; color: #999999;}
.s-pages a.prev, .s-pages a.next{padding-right:0;}
.s-pages a.prev, .s-pages a.next,.s-pages span.prev, .s-pages span.next{height:28px; line-height: 28px;}
.s-pages span.prev em, .s-pages span.next em, .s-pages a.prev em, .s-pages a.next em{margin-top:10px; margin-left:3px; margin-right:4px;}
.s-pages span.next ,.s-pages a.next,.s-pages span.prev ,.s-pages a.prev{ width:20px;}
.s-pages span.next em ,.s-pages a.next em{margin-right:0;}
.s-pages span.prev ,.s-pages a.prev{padding:0 4px 0 4px;}

.on-menuL .JS-sideNav .parent-li:hover{background: #1976e6; }
.on-menuL .JS-sideNav .parent-li:hover a{color:#ffffff;}

.on-menuL .JS-sideNav .parent-li.active{background: #1976e6; }
.on-menuL .JS-sideNav .parent-li.active a{color:#ffffff;}

.sidenav{padding-bottom:50px;}
.sidenav .list{width:238px; overflow:hidden; max-height:450px;}
.sidenav .list_more{}
.sidenav .list li{white-space: nowrap; position: relative; z-index: 1;}
.sidenav li a:hover ,.on-menuL .sidenav .list >li:hover a{color:#2272c8;}

.sidenav a.sidemore{display:block; width:70px; margin: 20px auto; padding-left:40px;height:30px; line-height: 30px; background: url("images/icon_sidemore-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_sidemore.png*/ no-repeat 0 center; font-size:14px; color:#2272c8;}
.sidenav p.nomore{margin:20px 0; text-align:center; font-size:14px; color:#666666;}


.aselect{float:left; width:240px; margin-right:10px; padding:8px 5px; height:36px; line-height:36px; border:1px solid #ddd;font-family:Microsoft YaHei;}
.aselect2{height:30px; line-height:30px; padding:3px 5px; width:200px;}
.aselect3{width:218px; height:36px; line-height:36px; margin:15px 0 0 20px;}
.aselect4{height:30px; line-height:30px; padding:3px 5px; width:100px;}

.search-top{ position:relative; width:120px; height:32px;}
.search-top .os-input{ position:absolute; left:0; top:0; padding-left:30px;background:none;}
.search-top .os-input-show{background:#1666c7;}
.search-top .os-search{ position:absolute; margin:0; left:8px; top:25px;}
.search-top .os-login{float:right;}
.plus_link {
    background: url("images/icon_more-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_more.png*/ no-repeat center;
}

.minus_link {
    background: url("images/icon_slidedown-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_slidedown.png*/ no-repeat center;
}

.child_link {
    background: url("images/icon_child-1.png")/*tpa=http://open.suning.com/ospos/staticfiles/css/images/icon_child.png*/ no-repeat center;
}

.plus_link, .minus_link,.child_link {
    margin-top: 10px;
    cursor: pointer;
}

.plus_link, .minus_link,.child_link {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    float: left;
    text-indent: -9999em;
    overflow: hidden;
}

.su-table, .su-taQue {
    width: 100%;
    text-align: left;
}

.ps-title .on-title{ white-space:pre-wrap; word-break:break-all; }
